<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Countries 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- 
  <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <app-country-card *ngFor="let country of renderList; let i = index" [country]="country"></app-country-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
